body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(226, 229, 231) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  padding-top: 2em; /* Расстояние от верхнего края */
  padding-left: 7em; /* Расстояние от левого края */
  padding-bottom: 2em;
  padding-right: 7em;
  /*padding-top: 5rem;
  margin: 0 auto;
  width: 600px;*/
}

.choose-file {
  padding-bottom: 2em;

  text-align: center;
}

.upload {
  padding-top: 2em; /* Расстояние от верхнего края */

  padding-left: 80em;

  padding-right: 3em;
}

.error {
  text-indent: 6cm;
  color: red;
}

.error2 {
  padding-right: 7em;
  color: red;
}

.errorAll {
  text-indent: 13cm;
}
